
@font-face {
  font-family: FontAwesome;      
  src: url('../fonts/fontawesome-normal-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
